/* font */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@1,300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

body{
    overflow-x: hidden;
    
}
:root{
    --heading-font-size:50px
}

/* navbar */

.mynavbar{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 1px 5px 0px;
    background-color: rgb(255, 255, 255);
}

.total-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-logo img{
    width: 100px;
}
.nav-list{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    width: 216px;
}

.nav-list li{
    font-weight: 500;
    font-family: "DM Sans", sans-serif;
    cursor: pointer;
}

/* start btn */

.cus-btn{
    height: 44px;
    min-width: 130px;
}

.start-now-btn{
    border: none;
    padding: 10px 15px;
    border-radius: 26px;
    background: linear-gradient(135deg, rgb(255, 0, 0) 0%, rgb(255, 247, 0) 100%);
    color: white;
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
    height: 100%;
}
.start-now-btn:hover{
    transition: all 0.3s;
    opacity: 0.7;
}
.arrow{
    height: 19px;
    width: 19px;
}



@media screen and (max-width:810px) {
    .visible-hidden{
        display: none;
    }
}

/* section 1 */

.laptop-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.section-1-content .content-1{
    padding: 127px 120px;
    flex: 1 0 0px;
}
.section-1-content .content-2{
    position: relative;
}
.section-1-content{
    display: flex;
    justify-content: center;
}


.section-1-content .heading h1{
    font-family: "DM Sans", sans-serif;
    font-size: var(--heading-font-size);
    font-weight:700;
    line-height: 1em;
    width: 312px;
}

.section-1-content .content-1{
    max-width: 600px;
}
.section-1-content .content-2{
    max-width: 650px;
}
.contents .para p{
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    color: #333333;
    font-size: 18px;
    line-height: 1.5em;

}

.contents{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.start-now-btn-cus{
    box-shadow: rgba(255, 143, 15, 0.5) 0px 10px 20px 0px;
    padding: 12px 20px;
    font-size: 18px

}

.cus-box-shad:hover{
    box-shadow: rgba(255, 143, 15, 0.5) 0px 20px 30px 0px;
}

.cus-home-btn{
    height: 51px;
    max-width: 150px;
    border-radius: 26px;
    cursor: pointer;
    font-family: sans-serif;
}

.circle-1{
    position: absolute;
    overflow: visible;
    width: 199px;
    left: calc(90.1667% - 99.5px);
    top: calc(25.945% - 99.5px);
    flex: 0 0 auto;
    aspect-ratio: 1 / 1;
    border-radius: 96px;
    box-shadow: rgba(255, 143, 15, 0.5) 0px 10px 20px 0px;
    background: linear-gradient(135deg, rgb(255, 0, 0) 0%, rgb(255, 247, 0) 100%);
}
.circle-2{
    position: absolute;
    width: 140px;
    left: calc(9.16667% - 70px);
    top: calc(77.1478% - 70px);
    aspect-ratio: 1 / 1;
    border-radius: 96px;
    box-shadow: rgba(255, 143, 15, 0.5) 0px 10px 20px 0px;
    background: linear-gradient(135deg, rgb(255, 0, 0) 0%, rgb(255, 247, 0) 100%);
}

.circle-3{
    position: absolute;
    width: 44px;
    left: calc(24.3333% - 22px);
    top: calc(15.9794% - 22px);
    aspect-ratio: 1 / 1;
    border-radius: 96px;
    box-shadow: rgba(255, 143, 15, 0.5) 0px 10px 20px 0px;
    background: linear-gradient(135deg, rgb(255, 0, 0) 0%, rgb(255, 247, 0) 100%);
}
.circle-4{
    position: absolute;
    width: 117px;
    left: calc(76.8333% - 58.5px);
    top: calc(82.1306% - 58.5px);
    aspect-ratio: 1 / 1;
    border-radius: 96px;
    box-shadow: rgba(255, 143, 15, 0.5) 0px 10px 20px 0px;
    background: linear-gradient(135deg, rgb(255, 0, 0) 0%, rgb(255, 247, 0) 100%);
}


@media screen and (min-width: 810px) and (max-width: 1199px){
    .content-1 .heading h1{
        font-size: 40px;
    } 
    .section-1-content{
        overflow-x: hidden;
    }
    .circle-1{
        width: 69px;
        height: 69px;
        inset: 75px 41px auto auto;
    }
    .circle-2{
        width: 41px;
        inset: auto auto 75px 46px;
        aspect-ratio: 1 / 1;
    }
    .circle-3{
        width: 44px;
        inset: 28px auto auto 103px;
        aspect-ratio: 1 / 1;
    }
    .circle-4{
        width: 56px;
        inset: calc(81.3776% - 28px) 82px auto auto;
        aspect-ratio: 1/1;
    }
    .section-1-content .content-2{
        align-self: center;
        aspect-ratio: 1/1;
    }
}
@media screen and (max-width:810px) {
    .content-1 .heading h1{
        font-size: 34px;
    } 
    .section-1-content{
        flex-direction: column;
        overflow-x: hidden;
    }
    .section-1-content .content-1{
        padding: 40px 120px;
    }
    .circle-1{
        width: 68px;
        inset: 71px 36px auto auto;
        aspect-ratio: 1/1;
    }
    .circle-2{
        width: 64px;
        inset: auto auto 48px 35px;
        aspect-ratio: 1 / 1;
    }
    .circle-3{
        width: 44px;
        inset: 36px auto auto 106px;
        aspect-ratio: 1 / 1;
    }
    .circle-4{
        width: 67px;
        inset: auto 61px 35px auto;
        aspect-ratio: 1/1;
    }
}

@media screen and (max-width:991) {
    .section-1-content .content-1{
        max-width:100%;
    }
}
.content-2{
    animation-name: content-2-animation;
    animation-duration: .7s;
}

/* Animation */

@keyframes content-1-animation {
    0%{
        opacity: 0;
    }
    40%{
        opacity: 1;
    }
    50%{
        transform: translateY(-22px);
        
    }
    100%{
         transform: translateY(1px); 
    }
}

@keyframes  content-2-animation {
    0%{
        opacity: 0;
        transform: scale(0.5);
        
    }
    100%{
        opacity: 1;
        transform: scale(1);
        transform: translateY(-5px);
    }
}