/* font */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@1,300&display=swap');

html{
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
    
}
:root{
    --heading-font-size:50px
}

/* Animation */

@keyframes content-1-animation {
    0%{
        opacity: 0;
    }
    40%{
        opacity: 1;
    }
    50%{
        transform: translateY(-22px);
        
    }
    100%{
         transform: translateY(1px); 
    }
}

@keyframes  content-2-animation {
    0%{
        opacity: 0;
        transform: scale(0.5);
        
    }
    100%{
        opacity: 1;
        transform: scale(1);
        transform: translateY(-5px);
    }
}

@keyframes fade_anime {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes calender_anime {
    0%{
        opacity: 0;
        transform: translateY(54px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px); 
    }
}

@keyframes section_6_anime{
    0%{
        opacity: 0;
        transform: translateY(60px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes scale_anime {
    0%{
        padding: 0px;
    }
    100%{
        padding: 2px;
    }
}